@import "../../../scss/index.scss";

.sign-in {
  background-image: url("../../../assets/img/jpg/Background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    &-logo {
      padding: 20px;
      display: block;
      img {
        width: 40%;
      }
    }

    &-tabs {
      opacity: 0.9;
      background-color: #ccd0d3;
      border-radius: 3px !important;
      .ant-tabs {
        width: 90vw;
        border-radius: 30px;
        @media (min-width: $media-breackpoint-up-lg) {
          width: auto;
        }
      }

      .ant-tabs-nav-container {
        height: 20px !important;
      }
      .ant-tabs-nav {
        width: 100%;
        background-color: opacify($color: #5b5252, $amount: 0);
        border-radius: 10px 10px 10px 10px;
      }

      .ant-tabs-tab {
        width: 20%;
        height: 40px !important;
        background-color: opacify($color: #726b6b, $amount: 0);
        text-align: center;
        font-size: 0em + 19px / $defaultFontSize;
        border-top: 4px solid $border-grey !important;
        border-radius: 0 !important;
        margin: 0 !important;
        @media (min-width: $media-breackpoint-up-lg) {
          width: 220px;
          font-size: 0em + 16px / $defaultFontSize;
        }

        &:hover {
          color: $font-grey-dark;
        }
        &:before {
          content: none;
        }
        span {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .ant-tabs-tab-active {
        color: $primary-color !important;
        border-top: 4px solid $primary-color !important;
        border-radius: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;
      }

      .ant-tabs-content {
        padding: 0 16px 16px 16px;
        text-align: center;
      }
    }
  }
}
